/************************
	 Reset 
*************************/
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}

/*************************
	Top/Hero Section
***************************/
.top {
	background-color: teal;
	min-height:400px;
}

.top > div {
	background-color: lightblue;
	position:relative;
	min-height: 400px;
	width: 960px;
	margin: 0 auto;
}

.header {
	background-color: orange;
	position: relative;
	height: 150px;
}

.header > a {
	background-color: red;
	color: white;
	position: absolute;
	top: 0;
	left: 0;
}

form {
	position: absolute;
	top: 10px;
	right: 0;
}

.header button {
	height: 30px;
	width: 75px;
	color: white;
}

nav {
	background-color: green;
	min-height: 40px;
	position: absolute;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
}

nav a {
	color: white;
	display: inline-block;
	padding: 15px;
	margin: 0 5px;
}

.intro {
	background-color: magenta;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 30px;
	text-align: center;
	color: white;
}

.intro h2 {
	margin: 10px auto;
}

/********************************
	Bottom Section
**********************************/

.bottom {
	background-color: purple;
}

.bottom > div {
	min-height: 200px;
	width: 960px;
	background-color: pink;
	margin: 0 auto;
	min-height: 500px;
}

.infobox {
	background-color: green;
	min-height: 50px;
	text-align: center;
}

.infobox > div {
	background-color: lime;
	display: inline-block;
	width: 250px;
	text-align: center;
	min-height: 125px;
	padding: 10px;
	margin: 3px 10px;
	transform: translateY(-20px);
}

.infobox p {
	margin: 5px auto;
}

.infobox button {
	width: 100px; 
	margin-top: 10px;
	
}

/***** 
Bottom Left Section
*****/
.featured {
	background-color: lime;
	float: left;
	min-height: 340px;
}

.featured > div {
	background-color: red;
	margin: 5px;
	overflow:hidden;
	margin-top: 10px;
}

.featured h4 {
	background-color: yellow;
	margin-left: 75px;
}
.featured p {
	background-color: yellow;
	margin-left: 75px;
}

.featured img {
	display: inline-block;
	float: left;
}

/*****
Bottom Right Section
******/

.profile {
	background-color: blue;
	min-height: 350px;
	margin-left: 450px;

}

.profile > div {
	display:inline-block;
	width: 145px;
	margin: 10px;
}

.profile h4  {
	background-color: yellow;
	border-bottom: 1px solid black;
	margin-left:;
}

.profile p {
	background-color: yellow;
}
