/************************
	Variables
*************************/
/************************
	 Reset 
*************************/
a {
  text-decoration: none; }

/*************************  
	Top/Hero Section
***************************/
.hero {
  background: radial-gradient(rgba(0, 143, 172, 0.4), #008fac), url("../images/bg.jpg") no-repeat;
  background-size: cover; }

.hero > div {
  position: relative;
  width: 960px;
  margin: 0 auto; }

header {
  position: relative;
  min-height: 125px; }
  header form {
    position: absolute;
    top: 10px;
    right: 0; }
    header form button {
      height: 25px;
      width: 75px;
      background-color: #fd2a00;
      color: white;
      border: none; }
    header form input {
      background-color: transparent;
      border: 1px solid #BBB; }

.logo {
  font-family: Lobster;
  position: absolute;
  font-size: 45px;
  color: white;
  top: 0;
  left: 0; }

nav {
  position: absolute;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  bottom: 0;
  left: 0;
  right: 0; }
  nav a {
    color: white;
    display: inline-block;
    padding: 15px;
    margin: 0 5px; }

.slogan {
  min-height: 175px;
  text-align: center;
  color: white;
  padding-top: 100px; }
  .slogan h1 {
    font-size: 30pt;
    font-weight: lighter; }
    .slogan h1 strong {
      font-weight: 800px; }
  .slogan p {
    margin: 0 auto; }

/********************************
	Bottom Section
**********************************/
.mainContent {
  background-color: #D5E1EB;
  padding-bottom: 25px; }
  .mainContent h4, .mainContent p {
    margin: 0; }

.mainSiteContents {
  width: 960px;
  margin: 0 auto; }

.info {
  box-shadow: 0 0 20px -5px #000; }

.infoboxes {
  width: 960px;
  margin: 0 auto;
  text-align: center; }
  .infoboxes div {
    background-color: #fff;
    min-height: 125px;
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 10px 10px 0 10px;
    margin: 3px 10px;
    transform: translateY(-20px); }
  .infoboxes p {
    margin: 5px auto; }
  .infoboxes button {
    min-width: 75px;
    height: 25px;
    padding: 1px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: transparent; }

.infoboxes > div:first-child {
  border-top: 5px solid #f00; }
  .infoboxes > div:first-child button {
    color: #f00;
    border: 2px solid #f00; }

.infoboxes > div:nth-child(2) {
  border-top: 5px solid #5dd711; }
  .infoboxes > div:nth-child(2) button {
    color: #5dd711;
    border: 2px solid #5dd711; }

.infoboxes > div:last-child {
  border-top: 5px solid #0081D4; }
  .infoboxes > div:last-child button {
    color: #0081D4;
    border: 2px solid #0081D4; }

/*****
Bottom Section
*****/
main {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  overflow: hidden; }

/***** 
Bottom Left Section
*****/
aside {
  float: left;
  max-width: 425px;
  padding: 10px;
  margin-left: 5px; }
  aside div {
    margin: 5px;
    overflow: hidden;
    margin-top: 10px;
    background-color: #E6F3fa; }
  aside h4, aside p {
    margin-left: 80px;
    padding-left: 15px; }
  aside h4 {
    color: #2997D9; }
  aside img {
    display: inline-block;
    float: left; }

/*****
Bottom Right Section
******/
section {
  margin-left: 425px;
  margin-top: 10px;
  padding-left: 5px; }
  section img {
    display: block; }
  section div {
    display: inline-block;
    margin: 5px;
    vertical-align: top;
    width: 145px;
    margin: 10px; }
  section h4 {
    background-color: #6fdc2c;
    color: #547700;
    font-weight: lighter; }
  section p {
    background-color: #DFF2D5;
    color: #368246; }

/*# sourceMappingURL=stylesheet.css.map */
