/************************
	 Reset 
*************************/
* {
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif; }
  * a {
    text-decoration: none; }

/*************************  
	Top/Hero Section
***************************/
.top {
  background: radial-gradient(rgba(0, 143, 172, 0.4), #008fac), url("../images/bg.jpg") no-repeat;
  background-size: cover; }

.header {
  width: 960px;
  margin: 0 auto;
  position: relative;
  min-height: 125px; }
  .header button {
    height: 25px;
    width: 75px;
    background-color: #F00;
    color: white;
    border: none; }
  .header input {
    background-color: transparent;
    border: 1px solid #BBB; }

.logo {
  font-family: Lobster;
  position: absolute;
  font-size: 45px;
  color: white;
  top: 0;
  left: 0; }

form {
  position: absolute;
  top: 10px;
  right: 0; }

nav {
  position: absolute;
  text-align: center;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
  bottom: 0;
  left: 0;
  right: 0; }
  nav a {
    color: white;
    display: inline-block;
    padding: 15px;
    margin: 0 5px; }

.slogan {
  width: 960px;
  margin: 0 auto;
  min-height: 300px;
  position: relative; }
  .slogan div {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 30px;
    text-align: center;
    color: white; }
  .slogan h1 {
    margin: 15px auto; }
  .slogan p {
    margin: 10px auto; }

/********************************
	Bottom Section
**********************************/
.bottom {
  background-color: #D5E1EB;
  padding-bottom: 25px; }

.infobox {
  width: 960px;
  margin: 0 auto;
  text-align: center; }
  .infobox div {
    background-color: #fff;
    min-height: 125px;
    display: inline-block;
    width: 275px;
    text-align: center;
    padding: 10px 10px 0 10px;
    margin: 3px 10px;
    transform: translateY(-20px); }
  .infobox p {
    margin: 5px auto; }
  .infobox button {
    min-width: 75px;
    height: 25px;
    padding: 1px;
    margin: 10px auto;
    border-radius: 5px;
    background-color: transparent; }

.infobox > div:first-child {
  box-shadow: 0 -5px 0 #f00; }
  .infobox > div:first-child button {
    border: 2px solid #f00;
    color: #f00; }

.infobox > div:nth-child(2) {
  box-shadow: 0 -5px 0 #5dd711; }
  .infobox > div:nth-child(2) button {
    border: 2px solid #5dd711;
    color: #5dd711; }

.infobox > div:last-child {
  box-shadow: 0 -5px 0 #0081D4; }
  .infobox > div:last-child button {
    border: 2px solid #0081D4;
    color: #0081D4; }

/***** 
Bottom Left Section
*****/
main {
  width: 960px;
  margin: 0 auto;
  background-color: #FFF;
  box-shadow: 0 -5px 5px #ccc; }

.featured {
  float: left;
  max-width: 400px; }
  .featured div {
    margin: 5px;
    overflow: hidden;
    margin-top: 10px; }
  .featured h4, .featured p {
    background-color: #E6F3fa;
    margin-left: 75px;
    padding-left: 5px; }
  .featured h4 {
    color: #2997D9; }
  .featured img {
    display: inline-block;
    float: left; }

/*****
Bottom Right Section
******/
.profile {
  margin-left: 410px;
  padding-left: 5px; }
  .profile div {
    display: inline-block;
    vertical-align: top;
    width: 145px;
    margin: 10px; }
  .profile h4 {
    background-color: #6fdc2c;
    color: #404006; }
  .profile p {
    background-color: #DFF2D5;
    color: #368246; }

/*# sourceMappingURL=stylesheet.css.map */
