/************************
	Variables
*************************/

$site-width: 960px;

/************************
	 Reset 
*************************/

a {
	text-decoration: none;
}

// **********************
// 	Mixins
// ***********************

// To get the divs centered on the page.
@mixin in-the-middle($site-width) {
	width: $site-width;
	margin: 0 auto;
}

// To set the background color and the minimum height.
@mixin bcgcolor-and-minheight ($color, $height) {
	background-color: $color;
	min-height: $height;
}

/*************************  
	Top/Hero Section
***************************/
.hero {
	background: radial-gradient(
      rgba(#008fac, 0.40), 
      rgba(#008FAC, 1)
    ), url('../images/bg.jpg') no-repeat;
	background-size: cover;
}

.hero > div {
	position: relative;
	@include in-the-middle($site-width);
}

header {
	position: relative;
	min-height: 125px;
	form {
		position: absolute;
		top: 10px;
		right: 0;
		button {
			height: 25px;
			width: 75px;
			background-color: rgb(253, 42, 0);
			color: white;
			border: none;
		}
		input {
			background-color: transparent;
			border: 1px solid #BBB;
		}
	}
}

.logo {
	font-family: Lobster;
	position:absolute;
	font-size: 45px;
	color: white;
	top: 0;
	left: 0;
}


nav {
	position: absolute;
	text-align: center;
	border-top: 1px solid rgba(255, 255, 255, 0.5);
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	bottom: 0;
	left: 0;
	right: 0;
	a {
		color: white;
		display: inline-block;
		padding: 15px;
		margin: 0 5px;
	}
}

.slogan {
	min-height: 175px;
	text-align: center;
	color: white;
	padding-top: 100px;
	h1 {
		font-size: 30pt;
		font-weight: lighter;
		strong {
			font-weight: 800px;
		}
	}
	p {
		margin: 0 auto;
	}	
}	


/********************************
	Bottom Section
**********************************/

.mainContent {
	background-color: #D5E1EB;
	padding-bottom: 25px;
	h4, p {
		margin: 0;
	}
}

.mainSiteContents {
	@include in-the-middle($site-width);
}

.info {
		box-shadow: 0 0 20px -5px #000;
}


.infoboxes {
	@include in-the-middle($site-width);

	text-align: center;
	div {
		@include bcgcolor-and-minheight(#fff, 125px);
		display: inline-block;
		width: 275px;
		text-align: center;
		padding: 10px 10px 0 10px;
		margin: 3px 10px;
		transform: translateY(-20px);
	}
	p {
		margin: 5px auto;
	}
	button {
		min-width: 75px;
		height: 25px;
		padding: 1px;
		margin: 10px auto;
		border-radius: 5px;
		background-color: transparent;
	}
}


.infoboxes > div:first-child {
	border-top: 5px solid #f00;
	button {
		color: #f00;
		border: 2px solid #f00;
	}
}

.infoboxes > div:nth-child(2) {
	border-top: 5px solid #5dd711;
	button {
		color: #5dd711;
		border: 2px solid #5dd711;
	}
}

.infoboxes > div:last-child {
	border-top: 5px solid #0081D4;
	button {
		color: #0081D4;
		border: 2px solid #0081D4;
	}
}


/*****
Bottom Section
*****/

main {
	@include in-the-middle($site-width);
	background-color: #FFF;
	// box-shadow: 0 -5px 5px #ccc;
	overflow:hidden;
}


/***** 
Bottom Left Section
*****/

aside {
	float: left;
	max-width: 425px;
	padding: 10px;
	margin-left: 5px;
	div {
		margin: 5px;
		overflow:hidden;
		margin-top: 10px;
		background-color: #E6F3fa;
	}	
	h4, p {
		margin-left: 80px;
		padding-left: 15px;
	}

	h4 {
		color: #2997D9;
	}

	img {
		display: inline-block;
		float: left;
	}
}


/*****
Bottom Right Section
******/

section {
	margin-left: 425px;
	margin-top: 10px;
	padding-left: 5px;
	img {
		display: block;
	}
	div {
		display:inline-block;
		margin: 5px;
		vertical-align: top;
		width: 145px;
		margin: 10px;
	}
	h4  {
		background-color: #6fdc2c;
		color: #547700;
		font-weight: lighter;
	}
	p {
		background-color: #DFF2D5;
		color: #368246;
	}
}
